backend/n8n-workflows/workflow_notificacion_urgencia.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "ffde8f7c-3ee1-401d-be60-8ac88a4c9a56",
      "name": "Scheduled Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1360,
        -160
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT t.id_triaje, t.nivel_urgencia, t.fecha_hora, p.nombre_completo as paciente, p.telefono\nFROM triajes t\nJOIN pacientes p ON t.id_paciente = p.id_paciente\nWHERE t.nivel_urgencia IN ('alto', 'critico')\nAND DATE(t.fecha_hora) = CURRENT_DATE\nAND t.id_triaje NOT IN (SELECT id_registro_afectado FROM logs_auditoria WHERE accion = 'NOTIFICACION_ENVIADA')\nORDER BY t.fecha_hora DESC",
        "options": {}
      },
      "id": "11ed352e-663f-4a91-8814-cc1e4d366090",
      "name": "Buscar Triajes Urgentes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1152,
        -160
      ],
      "credentials": {
        "postgres": {
          "id": "eWnq0f9S2J237ugv",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "count",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          }
        },
        "options": {}
      },
      "id": "1c3c77be-582f-447e-906e-9daab103b992",
      "name": "Hay Triajes Urgentes?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -960,
        -160
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst resultados = [];\n\nfor (const item of items) {\n  const triaje = item.json;\n  const nivelEmoji = triaje.nivel_urgencia === 'critico' ? '🚨' : '⚠️';\n  const nivelColor = triaje.nivel_urgencia === 'critico' ? 'ROJO' : 'NARANJA';\n  \n  resultados.push({\n    json: {\n      asunto: `${nivelEmoji} ALERTA: Triaje ${nivelColor} - ${triaje.paciente}`,\n      cuerpo: `Se ha registrado un triaje de nivel ${triaje.nivel_urgencia} para el paciente ${triaje.paciente}.\\n\\nFecha: ${new Date(triaje.fecha_hora).toLocaleString()}\\nID Triaje: ${triaje.id_triaje}`,\n      id_triaje: triaje.id_triaje\n    }\n  });\n}\n\nreturn resultados;"
      },
      "id": "ab270cef-dd88-4907-b82e-95675c29560f",
      "name": "Preparar Mensaje",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -752,
        -272
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "logs_auditoria"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_usuario": "d4c78837-041b-4a81-b20d-a19eeed9b87b",
            "accion": "NOTIFICACION_ENVIADA",
            "tabla_afectada": "triajes",
            "id_registro_afectado": "={{ $json.id_triaje }}",
            "detalles": "={{ JSON.stringify($json) }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id_usuario",
              "displayName": "id_usuario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "accion",
              "displayName": "accion",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tabla_afectada",
              "displayName": "tabla_afectada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id_registro_afectado",
              "displayName": "id_registro_afectado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "detalles",
              "displayName": "detalles",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "ce0a605f-68fb-46f3-9ee9-70d95f2dc312",
      "name": "Log Notificacion",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -560,
        -272
      ],
      "credentials": {
        "postgres": {
          "id": "eWnq0f9S2J237ugv",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "hrodriguezsandoval.10@gmail.com",
        "toEmail": "hsrodriguezsa@unitru.edu.pe",
        "subject": "={{ $('Preparar Mensaje').item.json.asunto }}",
        "html": "={{ $('Preparar Mensaje').item.json.cuerpo }}",
        "options": {}
      },
      "id": "75c17dd9-c76e-4f01-a42e-0fc01c4f67b0",
      "name": "Enviar Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -352,
        -272
      ],
      "webhookId": "2f471569-ea7a-46fd-bd71-1fc7087c25aa",
      "credentials": {
        "smtp": {
          "id": "jZFkP5uq5LuzZnxb",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "8740415165",
        "text": "={{ $('Preparar Mensaje').item.json.asunto + '\\n\\n' + $('Preparar Mensaje').item.json.cuerpo }}",
        "additionalFields": {}
      },
      "id": "65507075-7db5-4709-aab0-69f0e2e45efc",
      "name": "Enviar Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -352,
        -64
      ],
      "webhookId": "25b75f59-56bf-49fa-8f75-c32e4802582e",
      "credentials": {
        "telegramApi": {
          "id": "pbdLM1ilJ9Wy3vNp",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT 1 as noop",
        "options": {}
      },
      "id": "95ef4b2b-0b1d-4b4d-8920-da9da4c62565",
      "name": "No Operation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -752,
        32
      ],
      "credentials": {
        "postgres": {
          "id": "eWnq0f9S2J237ugv",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "Scheduled Trigger": {
      "main": [
        [
          {
            "node": "Buscar Triajes Urgentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Triajes Urgentes": {
      "main": [
        [
          {
            "node": "Hay Triajes Urgentes?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hay Triajes Urgentes?": {
      "main": [
        [
          {
            "node": "Preparar Mensaje",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Mensaje": {
      "main": [
        [
          {
            "node": "Log Notificacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Notificacion": {
      "main": [
        [
          {
            "node": "Enviar Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Enviar Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ec26e1b86c0aa884f76d0824e71d7fe04045c25c5d8146eaf903d95ab59533d1"
  }
}