backend/n8n-workflows/workflow_reporte_diario.json
{
   "name": "TRIAGE-02 Reporte Diario",
   "nodes": [
     {
       "parameters": {
         "rule": {
           "interval": [
             {
               "triggerAtHour": 20,
               "triggerAtMinute": 0
             }
           ]
         }
       },
       "id": "b334cd71-0d27-403d-9647-263348043c89",
       "name": "Scheduled Trigger",
       "type": "n8n-nodes-base.scheduleTrigger",
       "typeVersion": 1.2,
       "position": [
         -240,
         240
       ]
     },
     {
       "parameters": {
         "operation": "executeQuery",
         "query": "SELECT \n  COUNT(*) as total_triajes,\n  COUNT(CASE WHEN nivel_urgencia = 'critico' THEN 1 END) as criticos,\n  COUNT(CASE WHEN nivel_urgencia = 'alto' THEN 1 END) as altos,\n  COUNT(CASE WHEN nivel_urgencia = 'moderado' THEN 1 END) as moderados,\n  COUNT(CASE WHEN nivel_urgencia = 'bajo' THEN 1 END) as bajos,\n  AVG(EXTRACT(EPOCH FROM (fecha_atencion_fin - fecha_atencion_inicio))/60) as tiempo_promedio_minutos\nFROM triajes\nWHERE DATE(fecha_hora) = CURRENT_DATE",
         "options": {}
       },
       "id": "c522c641-a30a-4337-b1a4-4b88379ab8bf",
       "name": "Obtener Metricas del Dia",
       "type": "n8n-nodes-base.postgres",
       "typeVersion": 2.5,
       "position": [
         -48,
         240
       ],
       "credentials": {
         "postgres": {
           "id": "nru9cf7voC3B5alh",
           "name": "Postgres account"
         }
       }
     },
     {
       "parameters": {
         "operation": "executeQuery",
         "query": "SELECT \n  u.nombre_completo as profesional,\n  COUNT(*) as cantidad_triajes\nFROM triajes t\nJOIN usuarios u ON t.id_usuario = u.id_usuario\nWHERE DATE(t.fecha_hora) = CURRENT_DATE\nGROUP BY u.nombre_completo\nORDER BY cantidad_triajes DESC",
         "options": {}
       },
       "id": "d96fab34-b366-4429-bbdd-142ed6f70a93",
       "name": "Triajes por Profesional",
       "type": "n8n-nodes-base.postgres",
       "typeVersion": 2.5,
       "position": [
         -48,
         448
       ],
       "credentials": {
         "postgres": {
           "id": "nru9cf7voC3B5alh",
           "name": "Postgres account"
         }
       }
     },
     {
       "parameters": {
         "operation": "executeQuery",
         "query": "SELECT \n  DATE_TRUNC('hour', fecha_hora) as hora,\n  COUNT(*) as cantidad\nFROM triajes\nWHERE DATE(fecha_hora) = CURRENT_DATE\nGROUP BY DATE_TRUNC('hour', fecha_hora)\nORDER BY hora",
         "options": {}
       },
       "id": "cc2cd41b-9895-40be-a47e-e9326c4ce40e",
       "name": "Triajes por Hora",
       "type": "n8n-nodes-base.postgres",
       "typeVersion": 2.5,
       "position": [
         -48,
         640
       ],
       "credentials": {
         "postgres": {
           "id": "nru9cf7voC3B5alh",
           "name": "Postgres account"
         }
       }
     },
     {
       "parameters": {
         "jsCode": "const allItems = $input.all();\n\nconst metricas = allItems.find(i => i.json.total_triajes !== undefined)?.json || { total_triajes: 0, criticos: 0, altos: 0, moderados: 0, bajos: 0 };\nconst porProfesional = allItems.filter(i => i.json.profesional !== undefined);\nconst porHora = allItems.filter(i => i.json.hora !== undefined);\n\nconst fecha = new Date().toLocaleDateString('es-CO', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' });\n\nconst html = `<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; margin: 40px; }\n    h1 { color: #2c3e50; border-bottom: 2px solid #3498db; padding-bottom: 10px; }\n    h2 { color: #34495e; margin-top: 30px; }\n    table { width: 100%; border-collapse: collapse; margin: 20px 0; }\n    th, td { border: 1px solid #ddd; padding: 12px; text-align: left; }\n    th { background-color: #3498db; color: white; }\n    tr:nth-child(even) { background-color: #f9f9f9; }\n    .metric-box { display: inline-block; width: 150px; padding: 20px; margin: 10px; background: #ecf0f1; border-radius: 8px; text-align: center; }\n    .metric-value { font-size: 2em; font-weight: bold; color: #2c3e50; }\n    .metric-label { font-size: 0.9em; color: #7f8c8d; }\n    .critico { color: #e74c3c; }\n    .alto { color: #e67e22; }\n    .moderado { color: #f39c12; }\n    .bajo { color: #27ae60; }\n  </style>\n</head>\n<body>\n  <h1>Reporte Diario de Triajes</h1>\n  <p><strong>Fecha:</strong> ${fecha}</p>\n  <h2>Resumen General</h2>\n  <div class=\"metric-box\"><div class=\"metric-value\">${metricas.total_triajes || 0}</div><div class=\"metric-label\">Total Triajes</div></div>\n  <div class=\"metric-box\"><div class=\"metric-value critico\">${metricas.criticos || 0}</div><div class=\"metric-label\">Criticos</div></div>\n  <div class=\"metric-box\"><div class=\"metric-value alto\">${metricas.altos || 0}</div><div class=\"metric-label\">Altos</div></div>\n  <div class=\"metric-box\"><div class=\"metric-value moderado\">${metricas.moderados || 0}</div><div class=\"metric-label\">Moderados</div></div>\n  <div class=\"metric-box\"><div class=\"metric-value bajo\">${metricas.bajos || 0}</div><div class=\"metric-label\">Bajos</div></div>\n  <h2>Triajes por Profesional</h2>\n  <table><tr><th>Profesional</th><th>Cantidad</th></tr>\n  ${porProfesional.length > 0 ? porProfesional.map(p => `<tr><td>${p.json.profesional || 'N/A'}</td><td>${p.json.cantidad_triajes || 0}</td></tr>`).join('') : '<tr><td colspan=\"2\">No hay datos</td></tr>'}\n  </table>\n  <h2>Distribucion por Hora</h2>\n  <table><tr><th>Hora</th><th>Cantidad</th></tr>\n  ${porHora.length > 0 ? porHora.map(h => `<tr><td>${new Date(h.json.hora).toLocaleTimeString('es-CO')}</td><td>${h.json.cantidad || 0}</td></tr>`).join('') : '<tr><td colspan=\"2\">No hay datos</td></tr>'}\n  </table>\n  <p><em>Generado automaticamente por el Sistema de Triaje IA.</em></p>\n</body>\n</html>`;\n\nreturn [{ json: { html } }];"
       },
       "id": "744b819d-4d2c-4e3a-a48e-d18ab4df446e",
       "name": "Generar Reporte HTML",
       "type": "n8n-nodes-base.code",
       "typeVersion": 2,
       "position": [
         160,
         448
       ]
     },
     {
       "parameters": {
         "fromEmail": "hrodriguezsandoval.10@gmail.com",
         "toEmail": "hsrodriguezsa@unitru.edu.pe",
         "subject": "Reporte Diario de Triajes",
         "emailFormat": "html",
         "html": "={{ $json.html }}",
         "options": {}
       },
       "id": "100ec3dc-e199-4db7-8cb9-592183e294c9",
       "name": "Enviar Reporte por Email",
       "type": "n8n-nodes-base.emailSend",
       "typeVersion": 2.1,
       "position": [
         368,
         448
       ],
       "credentials": {
         "smtp": {
           "id": "KkkluET1myiWfROt",
           "name": "SMTP account"
         }
       }
     }
   ],
   "connections": {
    "Scheduled Trigger": {
      "main": [
        [
          {
            "node": "Obtener Metricas del Dia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Metricas del Dia": {
      "main": [
        [
          {
            "node": "Triajes por Profesional",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Triajes por Profesional": {
      "main": [
        [
          {
            "node": "Triajes por Hora",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Triajes por Hora": {
      "main": [
        [
          {
            "node": "Generar Reporte HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Reporte HTML": {
      "main": [
        [
          {
            "node": "Enviar Reporte por Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
   "settings": {
     "executionOrder": "v1"
   },
   "staticData": null,
   "tags": [
     "triage",
     "reporte",
     "diario"
   ],
   "triggerCount": 0,
   "versionId": "09bd9d21-37bb-48fb-b887-bf3d8812eefe",
   "pinData": {},
   "meta": {
     "templateCredsSetupCompleted": true,
     "instanceId": "c833c568d2a627d2e79d109052c0697bb56cb3cef7e1915a1bedbf083c518581"
   }
 }